body{
    margin: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(https://4kwallpapers.com/images/walls/thumbs_3t/4584.png);
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;

} 

.clock{
    display: flex;
}
