body{
    background-color:#B5D8CC;

}

#heading-container{
    display: flex;
    justify-content: center;
}


button{
    background-color: #72E1D1;
    border: 2px solid;
    border-radius: 20px;
    padding:10px ;
    margin: 50px;
    cursor:pointer;
    
}

#color-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#one-color{
    border: 2px solid black;
    border-radius: 10px;
    padding: 60px;
}
#two-color{
    border: 2px solid black;
    border-radius: 10px;
    padding: 60px;
}
#three-color{
    border: 2px solid black;
    border-radius: 10px;
    padding: 60px;
}
#four-color{
    border: 2px solid black;
    border-radius: 10px;
    padding: 60px;
}
#five-color{
    border: 2px solid black;
    border-radius: 10px;
    padding: 60px;
}

